/.vs/
/AxTools.sdf
/AxTools.v11.suo
/AxTools.sln.DotSettings.user
*.DotSettings
*.user
*.dll
*.exe
*.zip
*/bin/*
*/obj/*
packages/*
*.cache
*TemporaryGeneratedFile*
/AxTools_x64/*.bat
/AxTools_x64/_makeRelease2_plugins.py
/AxTools_x64/_makeRelease2_update-file-version.py
/_webservice/log-reporter/make_log.php
/_webservice/upd/updater.php
